.card_login{
    width: 500px;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #2a8896;
}
/* .gradient{
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #52ca7c 0%, #4ee5a3 100%);
} */
.card{
    background-color: #00E0c6;
}
