/* .gradient{
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #52ca7c 0%, #4ee5a3 100%);
} */
.card-title{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0  10px black;
    font-family: 'gloria Hallelujah', cursive;
}
.button_plant{
    background-color: #00E0c6;
    border: none;
    padding: 8px;
    border-radius: 12px;
    text-decoration: none;
    width: 200px;
}
.btnplant{
    text-decoration: none;
    color: white;
}