.img{
    height: 500px;
    width: 500px;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0  10px black;
    transition: 0.2s;
    background-color: rgb(82, 142, 82);
}
.img:hover{
    box-shadow: 0 0  22px black;
    transition: 0.6s;
}
.card-title{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0  10px black;
    font-family: 'gloria Hallelujah', cursive;
}
.add_plant{
    border-radius: 50px;
}
.gradient{
    background-color: #F4D03F;
background-image: linear-gradient(132deg, #52ca7c 0%, #4ee5a3 100%);

}

